body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding-top: 50px;
    margin: 0;
}

.container {
    position: relative;
    width: 80%;
    margin: auto;
    max-width: 560px; /* Set the max-width to match the video width */
}

#buttons {
    position: relative;
    margin-bottom: 20px; /* Add space between the buttons and the video */
}

.christmas-button {
    background-color: #c0392b; /* Christmas Red */
    color: white;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    box-shadow: 0 4px #999;
    outline: none; /* Remove outline on focus for aesthetics */
    transition: all 0.3s ease;
    position: relative; /* Adjusted for inline-block display */
    margin: 0 auto; /* Center the button */
    display: block; /* Make the button a block to fill the container */
}

.christmas-button:hover {
    background-color: #a8322d; /* A darker shade of red */
    box-shadow: 0 5px #666;
    transform: translateY(-2px);
}

.christmas-button:active {
    background-color: #900;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#audioPlayer, #video {
    width: 100%; /* Match the width of the container */
    display: block; /* Ensure it's a block-level element */
    margin: 0 auto; /* Center within the container */
}

#audioPlayer audio, #video video {
    width: 100%; /* Ensure audio and video tags fill their containers */
    max-width: 560px; /* Optional: set a max-width to match video size */
}

.image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Ensure it's above the background */
}
